html {
    background: url("http://campsi.imgix.net/56261291c0e9425a0b9404d8-Ny34fmkze.jpg");
    background-attachment: fixed;
    font-size: 1em;
}

body {
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
    font-weight: 900;
}

small, .font_small {
    font-size: 0.833em;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
}

h1 {
    background: linear-gradient(#ff8163, #de5818);
    padding: .5em;
    color: white;
    font-weight: 100;
    border-radius: .2em .2em 0 0;
}

ul {
    margin-left: 1em;
}

.bloc {
    background: rgba(255, 255, 255, .7);
    margin: 1em;
    max-width: 35em;
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.2);
    border-radius: .5em;
    float: left;
}

.bloc > h1 {
    margin-bottom: 0
}

.bloc .content {
    padding: 1.5em;
}

.periode {
    font-style: italic;
    color: #666;
}

.identite {
    font-size: 1.44em
}

.identite .nom {
    font-weight: 900;
}

dt {
    font-weight: 900
}

h3:first-child, h2:first-child {
    margin-top: 0
}

p.logo {
    text-align: center;
}
span.employeur {
    font-weight: 600;
}